<div class="container">


    <div class="weeklyNews">

        <h2>👋 whats happening this week</h2>


        <div class="challengeSection">


            <div class="title">
                challenges
            </div>


            <div class="challenge">


                <a href="">Wix hackathon</a>
                <h3>Hack the Web</h3>

            </div>


            <div class="challenge">


                <a href="">Mtn StartUp Challenge</a>
                <h3>Win prizes</h3>


            </div>

            <div class="lovelyMessage">
                Have a great week ♥️
            </div>

        </div>


    </div>



    <div class="discussionsContainer">
        <div class="title">

        <h2>#Discuss</h2>

        <div class="info">
            <h3>
            Discussion threads targeting the whole community
            </h3>
        </div>


        </div>

        <div class="topics">

            <div class="topic">
                <h2>Show us your open source projects</h2>
                <div class="commentCount">
                    49
                </div>
            </div>



        </div>

        <div class="topics">

            <div class="topic">
                <h2>Meme Monday</h2>
                <div class="commentCount">
                    9
                </div>
            </div>



        </div>

        <div class="topics">

            <div class="topic">
                <h2>Artificial Intelligence</h2>
                <div class="commentCount">
                    4
                </div>
            </div>



        </div>


        


        

    </div>

    <div class="trendingNews">

    </div>

    <div class="resources">

    </div>



</div>