<div class="container">

    <div class="about">


        

        <h2 class="flexItem">DEV Community is a community of 2,234,891 amazing developers</h2>
        <p class="flexItem"> We're a place where coders share, stay up-to-date and grow their careers. </p>
        <div class="aboutDiv flexItem">
            <button>Create account</button>
            <div class="login">  

                <h6>
                    Log In
                </h6>

            </div>
        </div>
    </div>


    <div class="menu">


        <div class="menuContainer">
            <div class="icon">⚽</div>
            <h2>Home</h2>
        </div>

        <div class="menuContainer">
            
            <div class="icon">⚽</div>
            
            <div class="menuTitle">
                <h2>Home</h2>
            </div>


        </div>
    </div>

</div>