<div class="container">
    <div class="fliter">

        <button class="Relevant">Relevant</button>
        <button class="Latest">Latest</button>
        <button class="Top">Top</button>

    </div>



    <div class="banner">

        <div class="aboutChallenge">


            <div class="title">
                <div>DEV challenges</div>

                
            </div>


            <div class="options">

                <button class="settings">
                    ...
                </button>
                <button>❌</button>
            </div>


        </div>

        <div class="content">
            <div class="img">
                <img src="./assets/images/devChallenge.png" alt="">
            </div>

            <div class="title">
                <h2>Want learn one of the most powerful webdev tools?</h2>
                <h3>(And win $3k?)</h3>
                

            </div>

            <div class="advert">
                
                <img src="./assets/images/challengeImage.jpg" alt="">
                

                <div class="advertContent">
                    <h2>
                        Join US next Week
                    </h2>
                    <h3>
                        Want learn one of the most powerful webdev tools?
                    </h3>
                    <div class="hashTag">
                        <span>#Dev</span>
                        <span>#Html</span>
                        <span>#Coding</span>
                    </div>
                </div>

            </div>


        </div>




    </div>




    
</div>

